@{
    ViewBag.Title = "Contact";
}

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>


    <div class="row" style="background-color:lightgray;">
        <div class="col-md-5">
            <img src="~/Content/Images/stephtoon2.png" class="img-responsive" style="width:500px;" />
        </div>
        
    <div class="col-md-7" style="padding:55px;">
            <h1 style="font-weight:700; font-size:53px;">Hello,<br /> is it me you're looking for...</h1>
        <br />
        <br />

        <div class="row">
            
            <div class="col-md-4">
                <a href="https://www.linkedin.com/in/stephaniegandy" target="_blank" data-toggle="tooltip" title="LinkedIn">
                    <img src="~/Content/Images/In-2C-121px-R.png" style="height:100px; width:100px;" />
                </a>
            </div>
            <div class="col-md-4">
                <a href="https://github.com/sgandy3" target="_blank" data-toggle="tooltip" title="GitHub">
                    <img src="~/Content/Images/GitHub-Mark-120px-plus.png" style="height:100px; width:100px;" alt="Github;" />
                </a>
            </div>
            <div class="col-md-4">
                <a href="mailto:sgandy3@yahoo.com" target="_blank" data-toggle="tooltip" title="sgandy3@yahoo.com">
                    <img src="~/Content/Images/purplemail.png" id="mail" style="height:100px; width:100px" />
                </a>
            </div>
            </div>
            </div><!--row-->
        </div><!--col-7-->
